<div class="container-fluid">
  <app-pagetitle title="Account List" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
   
          <div class="table-responsive mt-3">
            <h1>Accounts</h1>
            <!-- <p>All accounts from secure (admin only) api end point:</p> -->
            <a routerLink="/edit-account" class="btn btn-sm btn-success mb-2">Create Account</a>

            <table class="table table-centered datatable dt-responsive nowrap table-striped"
              style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead class="thead-light">
                <tr>
                  <th style="width: 20px;">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customercheck" />
                      <label class="custom-control-label" for="customercheck">&nbsp;</label>
                    </div>
                  </th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Role</th>
                  <th>Region</th>
                  <th style="width: 120px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let account of accounts; let i= index">
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" :id="customercheck{{i}}" />
                      <label class="custom-control-label" :for="customercheck{{i}}">&nbsp;</label>
                    </div>
                  </td>
                  <td>{{account.id}}</td>
                  <td>{{account.firstName}} {{account.lastName}}</td>
                  <td>{{account.email}}</td>
                  <td>{{account.phone}}</td>
                  <td>{{account.role}}</td>
                  <td>{{account.region}}</td>
                  <td>
                    <a routerLink="/create-account" href="javascript:void(0);" class="mr-3 text-primary" v-b-tooltip.hover title="Edit">
                      <i class="mdi mdi-pencil font-size-18"></i>
                    </a>
                    <a href="javascript:void(0);" (click)="deleteAccount(account.id)" class="text-danger" v-b-tooltip.hover title="Delete">
                      <i class="mdi mdi-trash-can font-size-18"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


